<ion-header [translucent]="true">
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>
        <h3 class="dish-name-text truncate">
          Edit Recipe
        </h3>
      </ion-card-header>
      <ion-item>
        <ion-button class="ion-text-center">Change Image</ion-button>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Recipe Name"  type="text" 
        id="recipename"
        [(ngModel)]="recipe.recipename"
        name="recipename"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Recipe Category" type="text"
        id="category"
        [(ngModel)]="recipe.category"
        name="category"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Ingredientmeasurements" type="text"
        id="Ingredientmeasurements"
        [(ngModel)]="recipe.Ingredientmeasurements"
        name="Ingredientmeasurements"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Instructions" type="text"
        id="Instructions"
        [(ngModel)]="recipe.Instructions"
        name="Instructions"></ion-input>
      </ion-item>
      <ion-button (click)="updateRecipe()" expand="block">Save Changes</ion-button>
    </ion-card>
  </div>
</ion-content>
