ion-avatar {
    width: 90px;
    height: 90px;
}

.gray-toolbar {
    --background: #f4f4f4 !important;
}

.favorite-dish-container {
    .dish-title-padding {
        padding-left: 15px;
    }

    .favorite-dish-card {
        margin-top: 0px;
    }

    .dish-name-text {
        color: black !important;
    }

    .rounded-dish-img {
        overflow: hidden;
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }

    .dish-bg-color {
        background-color: #f4f4f4;
    }

    .full-height {
        height: 100%;
    }

    .favorite-icon-position {
        position: absolute;
        right: 0;
    }

    .truncate {
        word-break: break-word;
    }
}