<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Re-enter Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <ion-button (click)="closeModel()">Save Changes</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
