<ion-content>
  <div class="page-container">
    <h2>Your meals</h2>
    <ion-card (click)="update()" *ngFor="let recipe of recipes">
      <ion-img
        [src]="recipe.image"
        class="dish-img"
      ></ion-img>
      <!-- <ion-icon name="heart-outline"></ion-icon> -->
      <h3 class="ion-text-center">{{ recipe.name }}</h3>
      <div class="category">
        <ion-label>{{ recipe.category}}</ion-label>
        <ion-icon
          style="margin-top: 15px"
          [src]="getCategoryIcon(recipe.category)"
        ></ion-icon>
      </div>
    </ion-card>    
  </div>
</ion-content>

<ion-button (click)="create()">Create</ion-button>