<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- 
      <ion-img href="..." src="..." alt="Eco munch logo"></ion-img>
    -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<h2>Dish of the day!</h2>

  <ion-card style="border-radius: 5px;">
    <ion-row style="background-color: #f4f4f4;">
      <ion-col>
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/card-media.png" style="border-radius: 50%; overflow: hidden;"
        />
      </ion-col>

      <ion-col>
        <ion-card-header>
          <ion-card-title>Mad title</ion-card-title>
        </ion-card-header>

        <ion-card-content><ion-icon class="right" name="heart-outline" size="large" color="primary" style="justify-self: flex-end;"></ion-icon></ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>

  <h2>Popular dishes</h2>

  <ion-card style="border-radius: 5px;">
    <ion-row style="background-color: #E0F7DE;">
      <ion-col>
        <img
          alt="Silhouette of mountains"
          src="https://ionicframework.com/docs/img/demos/card-media.png" style="border-radius: 50%; overflow: hidden;"
        />
      </ion-col>

      <ion-col>
        <ion-card-header>
          <ion-card-title>Mad title</ion-card-title>
        </ion-card-header>

        <ion-card-content><ion-icon class="right" name="heart-outline" size="large" color="primary" style="justify-self: flex-end;"></ion-icon></ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
