.ion-card {
    display: flex;
    justify-self: flex-end;
    border-radius: 5px;
}

.ion-img {
overflow: hidden;
}
    

.right{
    float: right;
    text-align: right;
 }

h2 {
    box-shadow: none;
    color: #3E6E39 !important;
}

ion-searchbar.custom input {
    height: 40px;
    
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

.clicked {
    background-color: #e59257; /* Change to your desired button color when clicked */
    color: #fff; /* Button text color when clicked */
    transition: background-color 0.1s ease; /* Add a smooth transition effect */
  }
