.ion-card {
    display: flex;
    justify-self: flex-end;
    border-radius: 5px;
}

.ion-img {
overflow: hidden;
}
    

.right{
    float: right;
    text-align: right;
 }

h2 {
    box-shadow: none;
    color: #3E6E39 !important;
}

