.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  button {
    padding: 10px 20px;
    background-color: #CC5500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .clicked {
    background-color: #e59257; /* Change to your desired button color when clicked */
    color: #fff; /* Button text color when clicked */
    transition: background-color 0.1s ease; /* Add a smooth transition effect */
  }