<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button fill="clear" slot="end" (click)="logout()">
        <div slot="end" style="display: flex; align-items: center">
          <ion-text slot="center">
            <h2>Logout</h2>
          </ion-text>
          &nbsp;
          <ion-icon
            size="large"
            color="primary"
            name="Log-out-outline"
            text="Logout"
            slot="end"
          ></ion-icon>
        </div>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" class="ion-padding">
        <ion-avatar>
          <img
            alt="Silhouette of a person's head"
            src="https://ionicframework.com/docs/img/demos/avatar.svg"
          />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-label class="ion-padding">
        <h1>Hello {{user.name}}</h1>
      </ion-label>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        Email: {{user.email}}
        <ion-button fill="clear" (click)="updateUser()">
          <ion-icon size="medium" color="primary" name="pencil"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-padding-start">
        <ion-text color="secondary">
          <h2>Favorite Dishes</h2>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <div *ngFor="let favorite of favorites">
        <ion-card>
          <ion-row style="background-color: #f4f4f4">
            <ion-col>
              <ion-img
                [src]="favorite.strMealThumb"
                alt="{{ favorite.strMeal }}"
                style="border-radius: 50%; overflow: hidden"
              />
            </ion-col>

            <ion-col>
              <ion-card-header>
                <h2>{{ favorite.strMeal }}</h2>
              </ion-card-header>

              <ion-card-content>
                <ion-button fill="clear" slot="end" (click)="addFavorite()">
                  <ion-icon
                    class="right"
                    name="heart"
                    size="large"
                    color="primary"
                  ></ion-icon
                ></ion-button>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
