<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="ion-padding" slot="start">
        <ion-button fill="clear">
          <ion-icon size="large" color="primary" name="arrow-back"></ion-icon>
        </ion-button>
      </div>

      <ion-button fill="clear" slot="end" (click)="logout()">
        <div slot="end" class="ion-padding" style="display: flex; align-items: center">
          <ion-text slot="center">
            <h2>Logout</h2>
          </ion-text>
          &nbsp;
          <ion-icon size="large" color="primary" name="Log-out-outline" text="Logout" slot="end"></ion-icon>
        </div>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" class="ion-padding">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-label class="ion-padding">
        <h1>Hello {{user.name}}</h1>
      </ion-label>
    </ion-row>

  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-around">
      <ion-col size="3" class="ion-padding"> Email: </ion-col>
      <ion-col size="5" class="ion-padding"> {{user.email}}</ion-col>
      <ion-col size="3" class="ion-padding">
        <ion-button fill="clear" (click)="updateUser()">
          <ion-icon size="large" color="primary" name="pencil"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="ion-padding">
        <ion-text color="secondary">
          <h2>Favorite Dishes</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>