// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #CC5500;
  --ion-color-primary-rgb: 204, 85, 0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #b44b00;
  --ion-color-primary-tint: #d1661a;

  /** secondary **/
  --ion-color-secondary: #808000;
  --ion-color-secondary-rgb: 128, 128, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #;
  --ion-color-secondary-tint: #8d8d1a;

  /** tertiary **/
  --ion-color-tertiary: #654321;
  --ion-color-tertiary-rgb: 101, 67, 33;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #593b1d;
  --ion-color-tertiary-tint: #745637;

  /** success **/
  --ion-color-success: #8A9A5B;
  --ion-color-success-rgb: 138, 154, 91;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #798850;
  --ion-color-success-tint: #96a46b;

  /** warning **/
  --ion-color-warning: #DAA520;
  --ion-color-warning-rgb: 218, 165, 32;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #c0911c;
  --ion-color-warning-tint: #deae36;

  /** danger **/
  --ion-color-danger: #DAA520;
  --ion-color-danger-rgb: 218, 165, 32;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #c0911c;
  --ion-color-danger-tint: #deae36;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #DAA520;
  --ion-color-medium-rgb: 218, 165, 32;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #c0911c;
  --ion-color-medium-tint: #deae36;

  /** light **/
  --ion-color-light: #F5DEB3;
  --ion-color-light-rgb: 245, 222, 179;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d8c39e;
  --ion-color-light-tint: #f6e1bb;
}