<ion-content [fullscreen]="true">

  <div class="page-container">

    <ion-img src="../../../assets/images/ecoLogo.png"></ion-img>
   


    <form class="form-container" (ngSubmit)="login()" [formGroup]="credentials">

      <ion-text>
        <h1>Login</h1>
      </ion-text>

      <div class="input-container">
        <ion-item class="ion-no-padding">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" placeholder="Enter email" required="true" clearInput="true"
            formControlName="email"></ion-input>
        </ion-item>
        <div class="error">
          <span *ngIf="email.errors?.email && email.touched">Invalid email</span>
          <span *ngIf="email.errors?.required && email.touched">Email is required</span>
        </div>
      </div>

      <div class="input-container">
        <ion-item class="ion-no-padding">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="floating">Password</ion-label>
          <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Enter password" required="true"
            formControlName="password"></ion-input>
          <ion-icon *ngIf="password.value && showPassword" name="eye-off-outline" slot="end"
            (click)="showPassword = !showPassword"></ion-icon>
          <ion-icon *ngIf="password.value && !showPassword" name="eye-outline" slot="end"
            (click)="showPassword = !showPassword"></ion-icon>
        </ion-item>
        <div class="error">
          <span *ngIf="password.errors?.required && password.touched">Password is required</span>
          <span *ngIf="password.errors?.minlength && password.touched">Password needs to be 6 characters</span>
        </div>
      </div>
      

      <div class="forgot-password-container">
        <ion-text routerLink="/login/forgot-password">
          <span>Forgot password?</span>
        </ion-text>
      </div>

      <ion-button type="submit" strong="true" expand="block" shape="round" [disabled]="!credentials.valid">
        Login
      </ion-button>

    </form>

    <div class="or-container">
      <div class="horizontal-line"></div>
      <ion-text color="dark" class="divider">
        <p>OR</p>
      </ion-text>
      <div class="horizontal-line"></div>
    </div>

    <div class="alternative-container">
      <ion-button (click)="googleLogin()" expand="block" shape="round" ion-ripple-effect="false">
        <ion-icon slot="start" src="../../../assets/icon/GoogleLogo.svg"></ion-icon>
        Login With Google
      </ion-button>

      <ion-text>
        <p class="register-prompt">Don't have an account yet?
          <ion-text class="link"><span routerLink="/login/register">Register now</span></ion-text>
        </p>
      </ion-text>
    </div>
  </div>
</ion-content>