<ion-content [fullscreen]="true">

  <ion-header class="ion-no-border">
    <ion-toolbar color="white">
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/login" text="Login" class="custom-back-button"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="page-container">

    <ion-img class="image-container" src="../../../assets/icon/undraw_access_account_re_8spm.svg">
    </ion-img>

    <div class="form-container" [formGroup]="credentials">

      <ion-text>
        <h1>Register</h1>
        <h3>Enter your deatils below</h3>
      </ion-text>

      <div class="input-container">
        <ion-item class="ion-no-padding">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" placeholder="Enter name" required="true" clearInput="true"
            formControlName="name"></ion-input>
        </ion-item>
        <div class="error">
          <span *ngIf="name.errors?.required && name.touched">Name is required</span>
        </div>
      </div>

      <div class="input-container">
        <ion-item class="ion-no-padding">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" placeholder="Enter email" required="true" clearInput="true"
            formControlName="email"></ion-input>
        </ion-item>
        <div class="error">
          <span *ngIf="email.errors?.email && email.touched">Invalid email</span>
          <span *ngIf="email.errors?.required && email.touched">Email is required</span>
        </div>
      </div>

      <div class="input-container">
        <ion-item class="ion-no-padding">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="floating">Password</ion-label>
          <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Enter password" required="true"
            formControlName="password"></ion-input>
          <ion-icon *ngIf="password.value && showPassword" name="eye-off-outline" slot="end"
            (click)="showPassword = !showPassword"></ion-icon>
          <ion-icon *ngIf="password.value && !showPassword" name="eye-outline" slot="end"
            (click)="showPassword = !showPassword"></ion-icon>
        </ion-item>
        <div class="error">
          <span *ngIf="password.errors?.required && password.touched">Password is required</span>
          <span *ngIf="password.errors?.minlength && password.touched">Password needs to be 6 characters</span>
        </div>
      </div>
      

      <div class="input-container">
        <ion-item class="ion-no-padding">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="floating">Re-enter password</ion-label>
          <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Enter password" required="true"
            formControlName="rePassword"></ion-input>
          <ion-icon *ngIf="rePassword.value && showPassword" name="eye-off-outline" slot="end"
            (click)="showPassword = !showPassword"></ion-icon>
          <ion-icon *ngIf="rePassword.value && !showPassword" name="eye-outline" slot="end"
            (click)="showPassword = !showPassword"></ion-icon>
        </ion-item>
        <div class="error">
          <span *ngIf="rePassword.errors?.minlength && rePassword.touched">password needs to be 6 characters</span>
          <span *ngIf="credentials.errors?.notSame && rePassword.touched">Passwords do not match</span>
        </div>
      </div>
      
      <ion-button (click)="register()" type="submit" strong="true" expand="block" shape="round"
        [disabled]="!credentials.valid">
        Register
      </ion-button>

    </div>
  </div>

</ion-content>