.logo {
    width: 50px;
    height: 50px;
}

.logoText {
    color: black;
    margin-left: 10px;
}

.profileLogo {
    width: 40px;
    height: 40px;
}

.dish-green-bg-color {
    background-color: #e0f7de;
}

.gray-toolbar {
    --background: #f4f4f4 !important;
}

ion-button.add-button {
    --padding-top: 0px !important;
    --padding-bottom: 0px !important;
    font-size: 14px;
}

ion-searchbar {
    --padding-bottom: 0px !important;
}

.height {
    min-height: 140px;
}

.search-button {
    color: #FFF;
    font-family: "Italiana", serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    --border-radius: 10px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-start: 5px;
    --padding-end: 4px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    --background: #27B718;
    --background-activated: #1E8A10;
}


.add-button {
    margin-top: 8px;
}

.clear-button {
    margin-top: 0px;
}

.card-header-container {
    display: flex;
    justify-content: space-between;
}


.card-header {
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
    margin-bottom: 5px;
}

.meal-dish-container {
    .dish-title-padding {
        padding-left: 15px;
    }

    .meal-dish-card {
        margin-top: 0px;
    }

    .dish-name-text {
        color: black !important;
    }

    .rounded-dish-img {
        overflow: hidden;
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }

    .dish-bg-color {
        background-color: #f4f4f4;
    }

    .full-height {
        height: 100%;
    }

    .truncate {
        word-break: break-word;
    }

}

.loadcard{
    border-radius: 8%;
    
  }

.skeleton-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-self: center; /* Vertically center the image */
  }
  
  .skeleton-title {
    width: 100%; /* Take up the entire space in the second column */
    height: 30px;
    margin-top: 8px;
    border-radius: 3%;
  }
  
  .skeleton-heart {
    width: 30px;
    height: 30px;
    align-self: flex-end; /* Position the heart icon in the bottom right corner */
    margin-left: auto; /* Push it to the right side */
    margin-right: 10px;
    margin-bottom: 10;
    border-radius: 5%;
  }
