<ion-header [translucent]="true">

</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-header>
        <h3 class="dish-name-text truncate">
          Add new Recipe
        </h3>
      </ion-card-header>
      <ion-item>
        <ion-button class="ion-text-center">Select Image</ion-button>
        
      </ion-item>
      <ion-item>
        <ion-input placeholder="Recipe Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Recipe Category"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Recipe Description"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Ingredients"></ion-input>
      </ion-item>
      <ion-button expand="block">Create New Recipe</ion-button>
    </ion-card>
  </div>
</ion-content>
