<ion-header [translucent]="true"> </ion-header>

<ion-content>
  <div *ngIf="!submitted">
    <ion-card>
      <ion-card-header>
        <h3 class="dish-name-text truncate">Create Recipe</h3>
      </ion-card-header>
      <div class="form-group">
        <ion-label for="recipename">recipename</ion-label>
        <ion-input
          type="text"
          class="form-control"
          id="recipename"
          required
          [(ngModel)]="recipe.recipename"
          name="recipename"
        />
      </div>

      <div class="form-group">
        <ion-label for="category">Category</ion-label>
        <ion-input
          class="form-control"
          id="category"
          required
          [(ngModel)]="recipe.category"
          name="category"
        />
      </div>
      <div class="form-group">
        <ion-label for="ingredientmeasurement">Ingredientmeasurement</ion-label>
        <ion-input
          class="form-control"
          id="ingredientmeasurement"
          required
          [(ngModel)]="recipe.ingredientmeasurement"
          name="ingredientmeasurement"
        />
      </div>
      <div class="form-group">
        <ion-label for="instructions">Instructions</ion-label>
        <ion-input
          class="form-control"
          id="instructions"
          required
          [(ngModel)]="recipe.instructions"
          name="instructions"
        />
      </div>

      <ion-button (click)="saveRecipe()" class="btn btn-success"
        >Add Recipe</ion-button
      >
    </ion-card>
  </div>
</ion-content>
