<ion-toolbar color="white" [translucent]="true">
  <ion-buttons slot="end">
    <ion-button color="primary" (click)="closeModal()">
      <ion-icon name="close-outline" size="large"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <swiper-container>
    <swiper-slide>
      <h1 class="ion-text-center" style="color: black">{{ recipe.recipename }}</h1>
      <ion-icon name="arrow-forward-circle" class="swipe-arrow"></ion-icon>

      <ul>
        <li>
          <p>
            {{ recipe.ingredientmeasurements }}
          </p>
        </li>
      </ul>
    </swiper-slide>

    <swiper-slide class="ion-padding">
      <h1 class="ion-text-center" style="color: black">{{ recipe.recipename }}</h1>
      <p >{{recipe.instructions}}</p>
    </swiper-slide>
  </swiper-container>
</ion-content>
