.logo {
    overflow: hidden;
    display: block;
    margin: 0 auto;
    width: 330px;
    height: 155px;
    border-radius: 10px;
    background: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    object-fit: cover;
  }
  
  .galleryIcon {
    font-size: 30px;
    color: #808080;
  }
  
  .page-container {
    padding: 20px;
  
    .input-container {
      width: 100%;
  
      ion-item {
        ion-label {
          font-size: 18px;
        }
      }
    }
  
    ion-button {
      margin-top: 30px;
      margin-bottom: 15px;
    }
  }
  
  .gray-toolbar {
    --background: #f4f4f4 !important;
  }
  
  .height {
    min-height: 140px;
  }
  
  .add-button {
    color: #fff;
    font-family: "Italiana", serif;
    font-size: 13px;
    font-weight: 700;
    --border-radius: 10px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-start: 5px;
    --padding-end: 4px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    --background: #1e8a10;
  }
  
  ion-card {
      margin-top: 15px;
  }
  