<ion-content>
 
  <swiper-container #swiper (afterinit)="swiperReady()" [pagination]="true">
    <swiper-slide class="slide-1 background">
      <div class="slider-text ">
        <h3>Welcome to</h3>
        <h1 style="font-size: 60px !important">Ecomunch</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ultricies, erat vitae porta consequat.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="start()"
          >Skip</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >Next</ion-button
        >
      </div>
    </swiper-slide>

    <swiper-slide class="slide-2 background2">
      <div class="slider-text">
        <h1>Benefits</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ultricies, erat vitae porta consequat.
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="start()"
          >Skip</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >Next</ion-button
        >
      </div>
    </swiper-slide>

    <swiper-slide class="slide-3 background3">
      <div class="slider-text">
        <h1>Get started</h1>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ultricies, erat vitae porta consequat.
        </p>
      </div>

      <ion-button class="get-started" expand="block" (click)="start()"
        >GET STARTED</ion-button
      >
    </swiper-slide>
  </swiper-container>

</ion-content>
