<ion-content>
 
  <swiper-container #swiper (afterinit)="swiperReady()" [pagination]="true">
    <swiper-slide class="slide-1 background">
      <div class="slider-text ">
        <h3>Welcome to</h3>
        <h1 style="font-size: 60px !important">EcoMunch</h1>

        <p>
          Welcome to EcoMunch, your eco-friendly kitchen companion. 
          We're on a mission to reduce food waste 
          and make sustainable cooking a breeze. 
          With EcoMunch, you can find delicious 
          recipes based on the ingredients you already own, 
          all while helping the planet."
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="start()"
          >Skip</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >Next</ion-button
        >
      </div>
    </swiper-slide>

    <swiper-slide class="slide-2 background2">
      <div class="slider-text">
        <h1>Benefits</h1>

        <p>
          EcoMunch empowers you to cook with a conscience. 
          Tell us what's in your kitchen, 
          and we'll serve up recipes that not only 
          tantalize your taste buds but also 
          help reduce food waste. 
          It's a win-win for you and the environment
        </p>
      </div>

      <div class="navigator">
        <ion-button color="primary" fill="clear" (click)="start()"
          >Skip</ion-button
        >
        <ion-button color="primary" fill="clear" (click)="next()"
          >Next</ion-button
        >
      </div>
    </swiper-slide>

    <swiper-slide class="slide-3 background3">
      <div class="slider-text">
        <h1>Get started</h1>

        <p>
          Ready to cook sustainably and save money? 
          Dive into the world of EcoMunch! 
          List your ingredients, 
          and start whipping up eco-conscious meals in no time. 
          Let's cook, save, and help the planet 
          – one meal at a time!
        </p>
      </div>

      <ion-button class="get-started" expand="block" (click)="start()"
        >GET STARTED</ion-button
      >
    </swiper-slide>
  </swiper-container>

</ion-content>
