<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="logoutModal()" expand="block" shape="round">
    Logout
  </ion-button>


  <div *ngIf="user">
    <p>Name: {{user.name}}</p>
    <p>Email: {{user.email}}</p>
  </div>

  <ion-button (click)="updateUser()" expand="block" shape="round">
    Update User Data
  </ion-button>
  
  <div>
    <ion-searchbar [(ngModel)]="ingredientsInput" placeholder="Enter ingredients separated by comma"></ion-searchbar>
    <ion-button (click)="getBestMatches()">Get Best Matches</ion-button>
  </div>

  <div *ngFor="let match of bestMatches">
    <h2>{{ match.strMeal }}</h2>
    <img [src]="match.strMealThumb" alt="{{ match.strMeal }}">
    <p>Ingredients: {{ match.totalIngredients - match.missingIngredientsCount }}/{{ match.totalIngredients }}</p>
  </div>

  <ion-button (click)="getFavorites()">Get Favorites</ion-button>

  
  <ion-button (click)="addFavorite()" shape="round">
    Add one favorite
  </ion-button>

  <div *ngFor="let favorite of favorites">
    <h2>{{ favorite.strMeal }}</h2>
    <img [src]="favorite.strMealThumb" alt="{{ favorite.strMeal }}">
    <ng-container *ngFor="let ingredient of getIngredients(favorite); let i = index">
      <p> ingredients: {{ i + 1 }}. {{ ingredient }}</p>
    </ng-container>
  </div>
  
</ion-content>
